.rowwidth{
    width: 1070px;
    height: 100%;

}
.rowmargin{
    width: 1100px;
    position: absolute;
    top: 61px;
    left: 198px;
}
.txttxt{
    font-size: 30px;
    display: inline-block;
}
.txttxt2{
    font-size: 30px;
    display: inline-block;
    font-weight: bold;
}
.btngrpmrgn{
    margin-left: 170px;
    margin-top: 12px;
}